
.clickDiv{
	border: 0;
	float: left;
/*  position: relative;
	color: green;*/
/*	height: 4em;
	width: 100%;*/
}

.addText1{
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  color: green;
  background-color: red;

}

.addText2{
	border: 0;
  position: absolute;
  top: 42%;
  right: 60%;
  color: green;
  background-color: red;
  border-radius: 5px;
}

#img {
	height: 500px;
	width: 300px;
	
}

#imageDiv {
	position: relative;
	height: 500px;
	width: 300px;
  margin-right: 3em;
  margin-left: 3em;
}

#addingPointDetailsDiv {
  margin-top: 3em;
  outline: 1px solid #ccc;
  padding: .7em;
}
#addingPointDetailsDiv .col-sm-12{
  margin-top: .5em;
}

#sideNavItem {
  display: block;
  height: 40px;
  padding-top: 2em;
  padding-left: 1em;
}
/*
.top {
  position:absolute;
  left:0; 
  right:0;
  height: 5em;
  background: grey;
}*/

.left {
  position:fixed;
  left:0; 
  top: 0em; 
  bottom: 0em;
  width: 15em;
  background: #888;
}

.main {
  position: absolute;
  left:16em; 
  top:2em; 
  right:0; 
  bottom:0;
}

#analyticsDiv {
  height: 15em;
  width: 73em;
  border: 1px solid #ccc;
  border-radius: 1em;
  background-color: #eee;
}

#countriesTableDiv {
  
}

#attractionsTableDiv {
  
}

#loginBox {
  padding: 2em;
  border: 1px solid #ccc;
}

#finishTourDiv {
  border: 1px solid #ccc;
}

#pricePickerDiv {
  border: 1px solid #ccc;
}

#toursAndRating {
  margin-top: 3em;
  margin-left: 3em;
  border: 1px solid #ccc;
  height: 18em;
  background-color: #ddd;
  border-radius: 1em;
}

#tourDisplayDiv {
  padding-top: .2em;
  padding-left: 1em;
  margin-top: .5em;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: .3em;
}

#numberOfDownloads {
  padding: 3em;
}

#profilePicture {
  margin: 2em;
  height: 10em;
  width: 10em;
  border-radius: 10em;
  border: 1.7px solid black;
}

#sideNavItem {
  margin-top: -1em;
  color: white;
  font-size: 1.7em;
}

#tourCellDiv {
  background-image: url(http://localhost:8080/app/img/ColiseumDisplay.jpg);
  background-size:     cover;             
  background-repeat:   no-repeat;
  background-position: center center;
  box-shadow: 0px 0px 5px #888;
  border: 1px solid #ccc;
  margin: 1em 2em;
  height: 20em;
  width: 20em;
}

#tourHeadingDiv {
  background-color: rgba(40, 30, 40, .5);
  height: 2em;
  margin: 0em -1.1em;
  color: white;
}

#tourCellDetailsDiv {
  background-color: rgba(255, 255, 255, .7);
  height: 6.5em;
  position: absolute; 
  margin-top: 11.4em; 
  margin-left: -1.1em;
  width: 100%; 
}








