
<div id="chooseBackgroundImg">
	<h1>{{vm.chosenTour}}</h1>

	<div id="countriesTableDiv">
		<div id="mapsDisplayDiv" ng-repeat="place in vm.placesArray">
			<h2 class="col-sm-12">{{place.country}}</h2>
			<div class="col-sm-3" ng-repeat="attraction in place.attraction" ng-click="vm.clickedAttraction(attraction, place.country)">
				<div id="mapThumbnailDiv">
					<label class="col-sm-offset-3">{{attraction}}</label>
					<div class="col-sm-offset-1" id="imageThumbnailDiv">
						<img id="mapThumbnail" src="app/img/{{attraction}}.jpg">
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>