<div id="homePage">
<h1>Welcome, {{vm.name}}</h1>

<div id="analyticsDiv">
	<div id="numberOfDownloads" class="col-sm-4">
		<h1>{{vm.numberOfDownloads}}</h1>
		<h3>Number of Downloads</h3>
	</div>


		<div 
		    data-ac-chart="'line'" 
		    data-ac-data="vm.data" 
		    data-ac-config="vm.config"
		    class="chart col-sm-6 col-sm-offset-1">
		</div>


</div>

<div id='toursAndRating' class="col-sm-offset-1 col-sm-5">
	<label style="font-size: 1.5em">Tours</label>
	<div>
		<div id='tourDisplayDiv'>
			<font size="3" class="col-sm-6">{{vm.myToursArray[1].title}}</font>
			<font size="2.5" class="col-sm-6">{{vm.myToursArray[1].attraction}}, {{vm.myToursArray[1].country}}</font>
		</div>
		<div id='tourDisplayDiv'>
			<font size="3" class="col-sm-6">{{vm.myToursArray[2].title}}</font>
			<font size="2.5" class="col-sm-6">{{vm.myToursArray[2].attraction}}, {{vm.myToursArray[2].country}}</font>
		</div>
		<div id='tourDisplayDiv'>
			<font size="3" class="col-sm-6">{{vm.myToursArray[3].title}}</font>
			<font size="2.5" class="col-sm-6">{{vm.myToursArray[3].attraction}}, {{vm.myToursArray[3].country}}</font>
		</div>
	</div>
</div>

<div id='toursAndRating' class="col-sm-offset-1 col-sm-5">
	<label style="font-size: 1.5em">Reviews</label>
	<div>
		<div id='reviewDisplayDiv'>
			<!-- <label>{{review}}</label> -->
			<div ng-repeat="entry in review">
				<h4>{{entry.rating}}</h4></br>
				<label>{{vm.reviewersArray[$index]}}</label></br>
				<label>{{entry.comment}}</label>
			</div>
		</div>
		<div id='reviewDisplayDiv'>
			<!-- <label>{{review}}</label> -->
			<div ng-repeat="entry in review">
				<h4>{{entry.rating}}</h4></br>
				<label>{{vm.reviewersArray[$index]}}</label></br>
				<label>{{entry.comment}}</label>
			</div>
		</div>
		<div id='reviewDisplayDiv'>
			<!-- <label>{{review}}</label> -->
			<div ng-repeat="entry in review">
				<h4>{{entry.rating}}</h4></br>
				<label>{{vm.reviewersArray[$index]}}</label></br>
				<label>{{entry.comment}}</label>
			</div>
		</div>
		<div id='reviewDisplayDiv'>
			<!-- <label>{{review}}</label> -->
			<div ng-repeat="entry in review">
				<h4>{{entry.rating}}</h4></br>
				<label>{{vm.reviewersArray[$index]}}</label></br>
				<label>{{entry.comment}}</label>
			</div>
		</div>
	</div>
</div>
</div>