<h1>Store</h1>
<div class="row">
	<ul ng-repeat="tour in vm.toursArray">
		<div id="tourCellDiv" class="col-sm-3" style=" background-image: url(http://localhost:8080/app/img/TourImages/{{tour.attraction  | spaceless}}.jpg);">
			<div id="tourHeadingDiv" style="padding-top: .3em;">
				<label style="margin-left: .7em;">3h:35m</label>
				<label style="margin-left: 50%; margin-right: 0%">★★★★★</label>

			</div>
			<div id="tourCellDetailsDiv" style=" text-align: center;">
					<label style="font-size: 1.3em">{{tour.title}}</label><br/>
					<label style="font-size: 1em">{{tour.attraction}}</label><br/>
					<label style="font-size: .7em;">{{tour.keyWords}}</label>
			</div>
		</div>
	</ul>
</div>


<!--  <div class="container">
  <h2>Large Modal</h2> -->
  <!-- Trigger the modal with a button -->
  <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Large Modal</button> -->

  <!-- Modal -->
<!--   <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Tour Title</h4>
        </div>
        <div class="modal-body">
          <p>Here is some content</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>  -->